<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Little Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">My Little Blog</a>
      </h1>
      <nav>
          {{#if loggedIn}}
          <button id="logout" class="btn">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
          <a href="/">homepage</a>
          <a href="/dashboard">dashboard</a>
          
        
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Wigoletta says, "Stay safe!"
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/login.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}
</body>

</html>